<div class="promo">
  <h1><a href="{{ site.baseurl}}"><img src="{{ site.baseurl}}/img/logo.png" alt="Visual Dimensions" style="max-width: 100%" /></a></h1>
  <p class="lead">A new vodcast series from Phase2!</p>
  <div class="hosts">
    <h2>Hosts</h2>
    <div class="host">
      <div class="circular bmorrison"></div><div class="name"><a href="http://www.phase2technology.com/author/bmorrison/">Brandon Morrison, Senior Developer</a></div>
    </div>
    <div class="host">
      <div class="circular astone"></div><div class="name"><a href="http://www.phase2technology.com/author/astone/">Annie Stone, Marketing Coordinator</a></div>
    </div>
  </div>
  <form class="form-inline" action="http://phase2technology.us2.list-manage1.com/subscribe/post?u=1f96212ef2ee71f8156651c88&amp;id=6b211183eb" method="post" target="_blank">
    <h2 style="color: #fd7900;">Stay in Touch</h2>
    <div id="email-subscribe-form" class="form-item">
      <label for="EMAIL" class="sr-only">Please enter an email address in the textfield below to subscribe to our mailing list</label>
      <input class="form-control" type="email" value="" name="EMAIL" id="email" placeholder="Your email, please" required="">
    </div><!--/form-item-->
    <input type="submit" value="Sign up" class="btn btn-default" id="submit-search">
    <!--/search button-->
  </form>
  <p style="font-size: 16px">Stay up-to-date on all Visual Dimensions news, resources and upcoming vodcasts!</p>
</div>