---
layout: default
---
<div class="col-lg-4">&nbsp;
  {% include header.html %}
</div>
<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-9">
      <h2>{{ page.title }}</h2>
      {% if page.video %}<div class="video-wrapper"><iframe id="ytplayer" type="text/html" width="640" height="390" src="{{ page.video }}" frameborder="0"></iframe></div>{% endif %}
      {{ content }}
    </div>
    <div class="col-lg-3">
      <div class="post-date" data-date="{{page.date | | date: "%-d %m %Y" }}">
      </div>
    </div>
  </div>
</div>
</div>




